/* styles.css */

body {
    font-family: sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
    box-sizing: border-box;
    margin-top: 7rem;
}


form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

legend {
    font-size: 1.2em;
    color: #27DB8F;
}

.form-group {
    margin-bottom: 10px;
}

.label-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 30px);
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.unit {
    display: inline-block;
    padding: 8px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

input[type="text"]::placeholder {
    color: #aaa;
}

a{
    text-decoration: none;
    color: black;
}

#voltar {
    width: 3rem;
    padding: 10px 0;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
}

#voltar:hover {
    background-color: #45a049;
}