body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-section {
    width: 30%;
    background-color: #66e6a8;
}

.right-section {
    width: 70%;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

p {
    margin: 10px 0;
    color: #666;
}

hr {
    margin-bottom: 9rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}

input {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 2rem;
    height: 2rem;
}

button {
    width: 10rem;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #66e6a8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #55d495;
}

.register-link {
    margin-top: 7rem;
}

.register-link a {
    color: #66e6a8;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
