* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh; /* Garante que a tela ocupe 100% da altura */
}

.left-section {
    width: 30%;
    height: 90%;
    background-color: #27DB8F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section img {
    max-width: 100%;
    height: auto;
}

.right-section {
    width: 70%;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centraliza o conteúdo */
    height: 100%;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

p {
    margin-bottom: 10px;
    color: #666;
}

hr {
    margin-bottom: 30px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; /* Limita o tamanho máximo do form */
}

label {
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}

input {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%; /* Expande o input para ocupar toda a largura disponível */
}

button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #66e6a8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #55d495;
}

.register-link {
    margin-top: 20px;
}

.register-link a {
    color: #66e6a8;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    
    .left-section, .right-section {
        width: 100%;
        height: auto;
    }

    .left-section img {
        max-height: 50vh;
    }

    .right-section {
        padding: 20px;
        width: 100%;
    }

    input, button {
        max-width: 100%; /* Inputs e botão ocupam toda a largura disponível em telas pequenas */
    }
}
